In [1]:
print(2 + 3 * 5)

17

In [2]:
my_list = [1, 2, 3, 4, 5]

print(my_list[1:4])

[2, 3, 4]

In [3]:
my_tuple = (1, 2, 3)

my_tuple[1] = 4

print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [4]:
print("Hello" + 2)

TypeError: can only concatenate str (not "int") to str