# Quiz 1 (for lecture 2) - Core Subject - Data Science

### Q1.
What is the output of the following code snippet?

```python

print(2 + 3 * 5)

```


a) 25    
b) 17    
c) 35    
d) 21

In [24]:
print (2+3*5)

17

### Q2.
Which of the following is a valid Python variable name?


2myVar


my-var


_myVar


my Var

In [25]:
'''
2myVar is invalid because it starts with a number.
my-var is invalid because it contains a hyphen.
my Var is invalid because it has a space in the name.
'''

_myVar = 2 #example

### Q3.
What will be the output of the following code snippet?

```python

my_list = [1, 2, 3, 4, 5]

print(my_list[1:4])

```


[1, 2, 3, 4, 5]


[2, 3, 4]


[1, 2, 3]


[3, 4, 5]

In [26]:
my_list = [1, 2, 3, 4, 5]

print(my_list[1:4])

[2, 3, 4]

### Q4.
What is the output of the following code snippet?

```python

my_tuple = (1, 2, 3)

my_tuple[1] = 4

print(my_tuple)

```


(1, 2, 3)


(4, 2, 3)


(1, 4, 3)


Error: Tuple object does not support item assignment

In [28]:
my_tuple = (1, 2, 3)

my_tuple[1] = 4

print(my_tuple)

TypeError: 'tuple' object does not support item assignment

### Q5.
What is the purpose of the `elif` keyword in an if-else statement?


 It is used to indicate the end of an if statement.


It is used to specify the condition for the else block.


It is used to chain multiple conditions after the initial if statement.


 It is used to handle exceptions within the if-else block.

In [29]:
''' 
ANSWER IS:- 
It is used to chain multiple conditions after the initial if statement.
'''

' \nANSWER IS:- \nIt is used to chain multiple conditions after the initial if statement.\n'

### Q6 
What is the output of the following code snippet?

```python

print("Hello" + 2)

```


Hello2


Hello


Error: unsupported operand type(s) for +: 'str' and 'int'


Error: invalid syntax

In [30]:
print("Hello" + 2)

TypeError: can only concatenate str (not "int") to str

### Q7
 Which of the following is the correct way to open a file named "data.txt" in read mode?


file = open("data.txt", "read")


file = open("data.txt", "r")


 file = open("data.txt", "w")


 file = open("data.txt", "a")

In [31]:
'''
correct ans:- 
file = open("data.txt", "r")




In Python, to open a file in read mode, you use the "r" mode specifier. Therefore, the correct way to open a file named "data.txt" in read mode is:

file = open("data.txt", "r")

Option A: file = open("data.txt", "read") is incorrect because "read" is not a valid mode specifier in Python for opening a file.

Option C: file = open("data.txt", "w") is incorrect because "w" mode is used for opening a file in write mode, which will truncate the file if it already exists.

Option D: file = open("data.txt", "a") is incorrect because "a" mode is used for opening a file in append mode, which allows you to add data to the end of an existing file or create a new file if it doesn't exist, 
but it doesn't allow you to read the contents of the file.

'''

'\ncorrect ans:- \nfile = open("data.txt", "r")\n\n\n\n\nIn Python, to open a file in read mode, you use the "r" mode specifier. Therefore, the correct way to open a file named "data.txt" in read mode is:\n\nfile = open("data.txt", "r")\n\nOption A: file = open("data.txt", "read") is incorrect because "read" is not a valid mode specifier in Python for opening a file.\n\nOption C: file = open("data.txt", "w") is incorrect because "w" mode is used for opening a file in write mode, which will truncate the file if it already exists.\n\nOption D: file = open("data.txt", "a") is incorrect because "a" mode is used for opening a file in append mode, which allows you to add data to the end of an existing file or create a new file if it doesn\'t exist, \nbut it doesn\'t allow you to read the contents of the file.\n\n'

### Q8
What is the output of the following code snippet?

```python

my_dict = {"name": "John", "age": 25}

print(len(my_dict))

```


2


4


Error: 'dict' object has no attribute 'len'


Error: invalid syntaxmy_dict = {"name": "John", "age": 25}

In [32]:
my_dict = {"name": "John", "age": 25}

print(len(my_dict))

2

### Q9.
What will be the output of the following code snippet?

```python

x = 5

y = 2

print(x // y)

```


2,5


2


2.0


2.2

In [33]:
x = 5

y = 2

print(x // y)

2

### Q10.
Which of the following statements is true about a set in Python?


A set can contain duplicate elements.


A set maintains the order of elements as they are inserted.


A set can only store numeric data types


All are incorrect

In [ ]:
# all are incorrect

### Q11
What is the output of the following code snippet?

```python

my_list = [1, 2, 3]

my_list.append([4, 5])

print(len(my_list))

```


3


4


5


6

In [34]:
my_list = [1, 2, 3]

my_list.append([4, 5])

print(len(my_list))

4

### Q12
What is the output of the following code snippet?

```python

x = "Hello"

y = x.lower()

print(y)

```


Hello


 HELLO


hello


 Error: 'str' object has no attribute 'lower'

In [35]:
x = "Hello"

y = x.lower()

print(y)

hello

### Q13
What is the purpose of the `pass` statement in Python?


It is used to end the execution of a loop.


 It is used to skip the current iteration of a loop.


 It is used to raise an exception.


It is used to indicate an empty code block

In [36]:
# answer is:- It is used to indicate an empty code block

### Q14
What is the output of the following code snippet?

```python

print(3 > 2 > 1)

```


 True


 False


 Error: invalid syntax


Error: 'bool' object is not callable

In [37]:
print(3 > 2 > 1)

True

### Q15
What will be the output of the following code snippet?

```python

x = [1, 2, 3]

y = x

y.append(4)

print(x)

```


 [1, 2, 3]


[1, 2, 3, 4]


 [4, 1, 2, 3]


 Error: 'list' object has no attribute 'append'

In [16]:
x = [1, 2, 3]

y = x

y.append(4)

print(x)

[1, 2, 3, 4]

print("Python".find("th"))
0### Q16
What is the output of the following code snippet?

```python

print("Python".find("th"))

```


0


2


3


-1

In [17]:
print("Python".find("th"))

2

### Q17
What will be the output of the following code snippet?

```python

my_set = {1, 2, 3}

my_set.add(4)

print(len(my_set))

```


3


4


5


Error: 'set' object has no attribute 'add

In [18]:
my_set = {1, 2, 3}

my_set.add(4)

print(len(my_set))

4

### Q18
What is the output of the following code snippet?

```python

my_dict = {"name": "John", "age": 25}

print(my_dict.get("city"))

```


"John"


25


None


Error: 'dict' object has no attribute 'get'

In [19]:
my_dict = {"name": "John", "age": 25}

print(my_dict.get("city"))

None

### Q19
What will be the output of the following code snippet?

```python

x = [1, 2, 3]

y = x.copy()

y.append(4)

print(x)

```


 [1, 2, 3]


 [1, 2, 3, 4]


[4, 1, 2, 3]


Error: 'list' object has no attribute 'copy'

In [20]:
x = [1, 2, 3]

y = x.copy()

y.append(4)

print(x)

[1, 2, 3]

### Q20
What is the output of the following code snippet?

```python

my_tuple = (1, 2, 3, 4, 5)

print(my_tuple[-2])

```


1


2


4


5

In [21]:
my_tuple = (1, 2, 3, 4, 5)

print(my_tuple[-2])

4